---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = 'About Me';

const identity = {
	name: 'Jon Snow',
	kingdom: 'Winterfell',
	country: 'Westeros',
	occupation: '998th Lord Commander of the Night`s Watch',
	hobbies: ['fighting', 'wandering in snow', 'playing with ghost'],
};

const skills = ['leadership', 'combat', 'mentoring'];

const killedAWight = true;

const skillColor = 'navy';
const fontWeight = 'bold';
const textCase = 'capitalize';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>{pageTitle} | Astro Blog</title>
		<style define:vars={{ skillColor, fontWeight, textCase }}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
		<h2>I'm {identity.name}</h2>

		<p>
			I'm the {identity.occupation}. I'm from {identity.kingdom}, {
				identity.country
			}.
		</p>
		{
			identity.hobbies.length >= 2 && (
				<li>
					Two of my hobbies are: {identity.hobbies[0]} and{' '}
					{identity.hobbies[1]}
				</li>
			)
		}

		<ul>
			{skills.map((skill) => <li class='skill'>{skill}</li>)}
		</ul>

		{killedAWight && <p>I've killed a wight at the battle of Hardhome</p>}

		<p>
			This site will update as I complete more of the tutorial, so keep
			checking back and see how my journey is going!
		</p>

		<Footer />

		<script>
			import '../scripts/menu'
		</script>
	</body>
</html>
