---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Blogpost from '../components/Blogpost.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = 'My Blog';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>{pageTitle} | Astro Blog</title>
	</head>
	<body>
		<BaseLayout title={pageTitle}>
			<h2>Here goes my blogs!</h2>
			<p>All about my blogs related to things i learned</p>
			<ul>
				{allPosts.map(post => <Blogpost url={post.url} title={post.frontmatter.title} />)}
			</ul>
		</BaseLayout>
	</body>
</html>
